canvas{
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes example{
    from{
         box-shadow:1px 1px 42px rgb(204, 132, 236);
    }
    to{
       box-shadow:1px 1px 42px rgb(20, 29, 214);
    }
    }
 
    body{
        background-size:cover;
    }